[data-section-option="favorites"]::after {
    content: attr(data-favorites-length);
    font-weight: bold;
    background-color: #E8E9EA;
    color: #6B707B;
    margin: 5px;
    padding: 0 10px;
}

[data-section-option="advanced_search"]::after {
    content: attr(data-filters-active-length) ' FILTER';
    font-weight: bold;
    background-color: #E8E9EA;
    color: #6B707B;
    margin: 5px;
    padding: 0 10px;
}

div.filter-options-wrapper {
    font-family: 'Heebo', sans-serif;
}

div.filter-options-wrapper {
    min-width: 100vw;
    min-height: 100vh;
    background-color: #00000091;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    overflow: hidden;
}

/*
* [Filter manager] Float icons
*/
div.filter-float-icons button:nth-child(odd) { bottom: 10%; }

div.filter-options-content {
    width: 80vw;
    height: 80vh;
    background-color: #E8E9EA;
    border-radius: 10px;
    box-shadow: 10px 15px 20px #0d0d0d46;
    position: relative;
}

div.info-section {
    margin: 25px;
}

div.filter-options-content span[data-close-target="filter-options-wrapper"] {
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    right: 10px;
    top: 10px;
    transition: color 200ms;
}

div.filter-options-content span[data-close-target="filter-options-wrapper"]:hover {
    color: #b90606;
}

div.filters {
    margin: 50px 10px;
    user-select: none;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 15px;
}

button.add-filter {
    width: 250px;
    padding: 10px;
    font-size: 1.3rem;
    margin: 10px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.add-filter .material-icons-outlined {
    margin: 0 10px;
    background-color: var(--color0);
    border-radius: 50%;
    padding: 5px;
}

div.individual-filter {
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 5px 25px;
    width: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: inherit;
}

div.individual-filter div.middle-text {
    font-weight: bold;
}

div.individual-filter button.delete-filter-button {
    border-radius: 50%;
    padding: 10px;
    border: none;
    background-color: var(--border-color);
    transition: transform 200ms;
}

div.individual-filter button.delete-filter-button:hover {
    transform: scale(1.5);
    cursor: pointer;
}

div.temp-filter-options-wrapper {
    font-family: 'Heebo', sans-serif;
    position: absolute;
    z-index: 3;
    top: 300px;
}

div.temp-filter-options-wrapper ul.filter-options {
    list-style-type: none;
    background-color: var(--color0);
    color: var(--color5);
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    font-size: 1.3rem;
}

ul.filter-options li {
    padding: 10px;
    width: 300px;
}

ul.filter-options li:hover {
    background-color: #b769ff;
}

ul.filter-options li:hover {
    cursor: pointer;
    color: var(--color5);
}

div[data-filter="first-selection"],
div[data-filter="second-selection"] {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color0);
    padding: 10px;
    margin: 3px;
}

div[data-filter="first-selection"],
div[data-filter="second-selection"] {
    width: 250px;
}

div[data-filter="first-selection"]:hover,
div[data-filter="second-selection"]:hover {
    background-color: var(--color0);
    color: var(--color5);
}

button.back-to-initial-page span {
    font-size: 2rem;
}

button.back-to-initial-page:hover {
    background-color: #E8E9EA;
    border-radius: 50%;
    transition: background-color 200ms;

}

/*
 * [Dashboard] 
 */

.dashboard-wrapper {
    min-width: 100vw;
    min-height: 100vh;
    background-color: var(--color5);
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    font-family: 'Heebo', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

div.dashboard-content {
    min-width: 90%;
    min-height: 90%;
    background-color: var(--color5);
    border-radius: 15px;
    box-shadow: #00000017 0 15px 25px 15px;
    margin: 10px;
}

div.dashboard-content ul.sections-navigator {
    list-style-type: none;
    list-style-position: inside;
    display: flex;
}

ul.sections-navigator {
    margin: 15px;
    user-select: none;
}

ul.sections-navigator li {
    margin: 0 25px;
}

[data-section-option] a {
    font-family: 'Karla';
    color: #6B707B;
    font-size: 1.3rem;
    text-decoration: none;
}

a[data-section-showing="true"] {
    color: var(--main-color);
    position: relative;
}

a[data-section-showing="true"]::before {
    content: "";
    width: 110%;
    height: 4px;
    background-color: var(--main-color);
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px 10px 0 0;
}

section.sections {
    min-width: 80vw;
    min-height: 75vh;
    margin: 15px;
    border: 2px solid #E8E9EA;
    border-radius: 15px;
    font-size: 1.5rem;
    overflow: hidden;
}

section.sections div[data-section] {
    overflow: auto;
    max-height: 700px;
    padding: 10px;
    background-color: #F4F4F4;
    display: grid;
    grid-template-columns: auto;
}

section[data-section="advanced_search"] .filter-wrapper {
    cursor: pointer;
    border-radius: 50%;
    text-transform: uppercase;
    transition: opacity 200ms;
}

section[data-section="advanced_search"] .filter-wrapper:hover {
    opacity: .7;
}

section[data-section="advanced_search"] .filter-content {
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

div.loader-wrapper {
    min-width: 100vw;
    height: 4px;
    background-color: #E8E9EA;
    position: absolute;
    z-index: 2;
    overflow: hidden;
    filter: blur(1px);
}

div.loader-content {
    width: 75%;
    height: inherit;
    background-color: var(--main-color);
    position: absolute;
    animation: load-animation 1s infinite linear; 
}

@keyframes load-animation {
    from {
        transform: translateX(-100vw);
    }

    to {
        transform: translateX(100vw);
    }
}

@media screen and (max-width: 700px) {

    div.dashboard-content {
        margin-top: 75px;
    }

    ul.sections-navigator {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    ul.sections-navigator a[data-section-showing="true"]::before {
        display: none;
    }

    div[data-section] {
        font-size: 1.3rem;
    }

    div[data-section] div.item-stored-wrapper div.title {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    div[data-section] div.item-stored-wrapper p[class*="name"] {
        text-align: justify
    }
}